<div>
    <h2>Catágolo:</h2>
    <div>
    {{#each products}}
        <li><strong>{{title}}: </strong>{{description}}</li>
    {{/each}}
    </div>  
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>